@font-face {
    font-family: font;
    src: url("./SeroPro-Thin.woff");
}

.landingPage-entryText {
    margin-top: 18rem !important;
    margin-bottom: 3rem !important;
    font-family: font;
    font-weight: 100;
    font-style: normal;
    font-size: 1rem;
    color: white;
    /* border-bottom: 1px solid #324B7A; */
}

.landingPage-startBtn {
    margin-top: 1rem !important;
}