.landingPage-entryText {
    margin-top: 15rem !important;
    margin-bottom: 3rem !important;
    font-family: 'Sero Pro Thin';
    font-weight: 100;
    font-style: normal;
    font-size: 1rem;
    color: #324B7A;
}