.title > img {
    float: left;
    margin: 16px;
    width: 52px;
}

.header {
    max-width: 100%;
}

.actions {
    position: absolute !important;
    display: flex;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    color: white;
}

.right {
    right: 0;
}

.floating {
    position: absolute !important;
    display:flex;
    right: 25px;
    bottom: -25px;
}

.text {
    font-size: 16px !important;
}

.display-name {
    text-align: left;
}

.display-location {
    text-align: left;
}
